.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  height: 1200px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  width: 1200px;
  gap: 30px;
  padding-left: 38px;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 19px;
}

fieldset {
  border: none
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0;

}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:hover {
  text-decoration: underline 1px #fff;
  text-underline-offset: 5px;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  border-right-color: #fff;
  border-left-color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}
.search-form__checkbox {
    outline: none;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px #fff solid ;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  align-self: center;
  margin-right: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  height: 15px;
  width: 15px;
  margin: 1px 0 0 1px;
}

.content__list-container {
  height: 298px;
  width: 400px;
  overflow-y: scroll;
  position: relative;
  padding-right: 3px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  padding-bottom: 20px;
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: fill;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  padding-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  color: #545050;
  line-height: 70.5px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px ;
  overflow: hidden;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
  width: 390px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  width: 195px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 196px;
  height: 103px;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline 1px #fff;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 20px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
